@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); // contact header
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Anton&display=swap');

.footer {
    background: url('../footer.jpg')fixed center center no-repeat;
    background-size: cover;
    .section-header {
        display: flex;
        justify-content: center;

        .header {
            padding-left: 20px;
            padding-right: 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.6);
            background-color: rgba(107, 107, 107, 0.7);
            font-family: 'Russo One', sans-serif;
            font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
            color: rgb(0, 0, 0);
            -webkit-box-shadow: -14px 18px 35px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -14px 18px 35px 0px rgba(0,0,0,0.75);
            box-shadow: -14px 18px 35px 0px rgba(0,0,0,0.75);   
        }
    }

    .footer-content {
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .contact {
            padding: 20px;
            margin-bottom: 20px;
            color: white;
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            .contact-header {
                font-family: 'Anton', sans-serif;
                letter-spacing: 2px;
                font-weight: 100;
                font-size: calc(13px + (35 - 13) * ((100vw - 300px) / (1600 - 300)));
                white-space: nowrap;
            }

            .telephone {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                #phone-number {
                    font-family: 'Alegreya Sans', sans-serif;
                    margin-top: 10px;
                    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
                }
            }
            
            .mail-me {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                #mail {
                    font-family: 'Alegreya Sans', sans-serif;
                    margin-top: 10px;
                    font-size: calc(9px + (20 - 9) * ((100vw - 300px) / (1600 - 300)));
                }
            }

            .footer-headers {
                font-family: 'Anton', sans-serif;
                font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
                font-weight: 100;
                letter-spacing: 2px;
            }
        }

        .last{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%
            }
        }
    }
}
